body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  background-color: lightgray;
}
h1 {
  color: aqua;
}
.contentInput {
  display: flex;
  gap: 16px;
}
.columnContent {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
#buttonContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 8px;
}
.bodyContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  background-color: white;
  padding: 24px;
  width: 550px;
}
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: auto;
}
.limpiar {
  padding: 10px;
  grid-column: span 2;
  width: 100%;
}
a {
  color: red;
}
label {
  display: flex;
}
