/*Global*/
* {
  font-family: "Latolight";
  margin: 0;
}

@font-face {
  font-family: LatoHeavy;
  src: url(../fonts/LatoHeavy.ttf);
}
@font-face {
  font-family: Latolight;
  src: url(../fonts/Latolight.ttf);
}
@font-face {
  font-family: DolceVita;
  src: url(../fonts/DolceVita.ttf);
}
@font-face {
  font-family: Neoteric-Bold;
  src: url(../fonts/Neoteric-Bold.ttf);
}

/* Shortcuts */

.pd-0 {
  padding: 0;
}
.pt-5 {
  padding-top: 5%;
}
.pb-5 {
  padding-bottom: 5%;
}
.mg-0 {
  margin: 0;
}
.mg-10 {
  margin: 30px;
}
.w-100 {
  width: 100%;
}
.lh {
  line-height: 1.5;
}
.lh2 {
  line-height: 2;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-white {
  color: white;
}
.text-gray {
  color: rgb(83, 88, 95);
}
.text-blue {
  color: #192951;
}
.a-none-decoration {
  text-decoration: none;
}
.bg-gray {
  background-color: rgb(244, 244, 244);
}
.bg-gray2 {
  background-color: rgba(0, 0, 0, 0.3);
}
.bg-img-block {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 24px;
}
.enlaces {
  display: flex;
  justify-content: center;
  gap: 96px;
  width: 100%;
}
.title {
  color: #192951;
  margin-top: 50px;
}
.text1 {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  width: 55%;
  font-size: 1.2rem;
  line-height: 1.5;
}
.text1 > h2 {
  font-size: 1.5rem;
}
.button {
  padding: 24px;
  background-color: #192951;
  color: white;
  width: 35%;
  margin-top: 2rem;
}
.buttonInside {
  width: 60%;
  padding: 12px;
  color: white;
  background-color: #192951;
  margin-top: 10px;
}
.ContainerInside {
  width: 100%;
  position: relative;
  height: 56vh;
}
.textInsideImg {
  position: absolute;
  color: white;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-top: 7.5vh;
  padding-left: 10%;
  gap: 20px;
}
.textInsideImg > h1 {
  color: white;
  font-size: 5rem;
}
.textInsideImg > h3 {
  width: 235px;
  line-height: 1.5;
  font-size: 1rem;
}
.ImgInside {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: top;
}
.decoration_1 {
  width: 150px;
  height: 80px;
  object-fit: cover;
}
