# Ignorar el entorno virtual
venv/
pyvenv/
LABORATORIO_05/pyvenv/
LABORATORIO_05/lib/
LABORATORIO_05/Scripts/
LABORATORIO_05/include/

# Ignorar archivos de compilación de Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Ignorar archivos de paquetes de Python
*.egg-info/
*.egg

# Ignorar archivos temporales de edición
*.swp
*.swo

# Ignorar archivos de log
*.log

# Ignorar archivos de configuración de IDE
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Ignorar archivos de configuración de Pygame
*.pygame

# Ignorar otros archivos temporales
*.tmp

# Ignorar configuraciones específicas de sistema
.DS_Store  # Para macOS
Thumbs.db  # Para Windows

# Ignorar archivos de datos generados por pruebas
test-results/
*.coverage

