/*Global*/

* {
    font-family: "Latolight";
}

@font-face {
    font-family: LatoHeavy;
    src: url(../fonts/LatoHeavy.ttf);
}

@font-face {
    font-family: Latolight;
    src: url(../fonts/Latolight.ttf);
}

@font-face {
    font-family: DolceVita;
    src: url(../fonts/DolceVita.ttf);
}

@font-face {
    font-family: Neoteric-Bold;
    src: url(../fonts/Neoteric-Bold.ttf);
}


/* Shortcuts */

.h1 {
    font-family: Impact, sans-serif;
}

.pd-0 {
    padding: 0;
}

.pt-5 {
    padding-top: 5%;
}

.pb-5 {
    padding-bottom: 5%;
}

.mg-0 {
    margin: 0;
}

.mg-10 {
    margin: 30px;
}

.w-100 {
    width: 100%;
}

.lh {
    line-height: 1.5;
}

.lh2 {
    line-height: 2;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-white {
    color: white;
    padding-right: 20px;
}

.text-gray {
    color: rgb(83, 88, 95);
}

.text-blue {
    color: #192951;
}

.a-none-decoration {
    text-decoration: none;
}

.bg-gray {
    background-color: rgb(244, 244, 244);
}

.bg-gray2 {
    background-color: rgba(0, 0, 0, 0.3);
}

.title1-content {
    margin-left: 15px;
}

.bg-img-block {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.custom-title {
    font-size: 4rem;
    /* Tamaño de fuente responsivo usando vw */
}

.image-container {
    position: relative;
    max-width: 1450px;
    width: 100%;
    max-height: 510px;
    margin: 0 auto;
    overflow: hidden;
}

.text1-content {
    position: absolute;
    margin-top: -2.1%;
    left: 10%;
    transform: translateY(-123%);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.btn-inscribete {
    padding: 10px 43px;
    border: none;
    /* Elimina el borde, si es necesario */
    text-decoration: none;
    /* Elimina el subrayado */
}

.btn-inscribete:hover {
    color: rgb(255, 255, 255);
    /* Cambia el color del texto */
}


/* Media Queries para responsividad */

@media (max-width: 768px) {
    .image-container {
        max-width: 1550px;
        width: 135%;
        max-height: 200px;
    }
    .image-container img {
        height: 270px;
        /* Mantiene la proporción de la imagen */
    }
    .custom-title {
        font-size: 3vw;
        /* Tamaño de fuente responsivo usando vw */
    }
    .text1-content {
        top: 50%;
        left: 10%;
        /* Mantiene la misma posición en pantallas más pequeñas */
        font-size: 2vw;
    }
    .custom-title {
        font-size: 10vw;
        /* Tamaño de fuente más pequeño en pantallas móviles */
    }
    .btn-inscribete {
        padding: 3px 20px;
        font-size: 2vw;
    }
}