.container-central {
    background-color: rgb(235, 235, 235);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: auto;
}

.pt-central {
    background-color: white;
    width: 70%;
    height: auto;
    padding: 4%;
    border-radius: 10px;
}

.area {
    width: 100%;
    border-radius: 9px;
    border: 1px solid black;
    text-align: center;
}

/*Cabecera*/
.foto1_1 {
    width: 20vw;
    height: 5vw;
    margin-top: 3%;
    justify-content: center;

}

.foto1_2 {
    width: 7vw;
    height: 7vw;
    justify-content: center;
}

/*Fila 1*/

.fila1 {
    align-items: center;
}

.texto-columna1 {
    text-align: end;
    font-size: 2.8vh;
    padding: 1vh;
}

.opcion1 {
    width: 100%;
}

/*Area 2*/
.fila2 {
    align-items: center;
}

/*Area 3*/
.fila3 {
    align-items: center;
}

.opcion3 {
    width: 100%;
}

/*Area 4*/
.fila4 {
    align-items: center;
}

.numeros4 {
    font-size: 3vh;
    width: 25%;
    border-radius: 7px;
    padding: 2%;
    background-color: rgb(231, 231, 231);
}

.limpiar4 {
    font-size: 2.5vh;
    width: 53%;
    background-color: rgb(53, 73, 255);
    border-radius: 7px;
    border: 1px solid black;
    color: white;
}

.texto4_1 {
    width: 100%;
    font-size: 2.2vh;
}

.texto4_2 {
    font-size: 2vh;
    width: 100%;
}


/*Area 5*/
.fila5 {
    align-items: center;
}

.imagen5 {
    height: 25%;
    width: 100%;
    padding: 4%;
}

.change_word {
    background: none;
    border: none;
    text-decoration: underline;
    color: rgb(52, 52, 255);
}

/*boton final*/
.boton-final {
    margin-top: 3%;
    width: 20vh;
    font-size: 3vh;
    background-color: rgb(32, 110, 255);
    color: antiquewhite;
    border-radius: 10px;
    border: 1px solid rgb(46, 46, 46);
    padding: 5px;
}