.window button{
    border-radius: none;
    border: none;
    background-color: transparent;
}
.number {
    background-color: rgb(213, 213, 213) !important; 
}
.equal{
    height: 35%;
}
.equal button{
    background-color: orange;
}